body{
  margin: 0;
  display: grid;
  grid-template-areas:
    "header"
    "ul"
    "main"
    "footer";
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  grid-template-rows: 24px 100px 1fr 300px;
  background: url('./casal-idosos.jpg');
  background-size:cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

html{
  scroll-behavior: smooth;
}

header{
  grid-area: header;
  background-color: rgb(100, 32, 32);
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 2rem;
  color: white;
  height: 40px;
}

ul{
  grid-area: ul;
  background-color: white;
  display: flex;
  gap: 4rem;
}

li {
  padding-top: 35px;
  list-style-type: none;
  align-items: center;
  gap: .8rem;
}

a{
  text-decoration: none;
  padding: 0;
  color:rgb(100, 32, 32);
  font-family: "Nanum Gothic", Sans-serif;
  font-size: 14px;
  font-weight: 600;
}

a:hover{
  color:rgb(192, 90, 90);
}

main{
  grid-area: main;
  margin: 0 200px;
}

footer{
  grid-area: footer;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(100, 32, 32);
  color: white;
}

button:hover{
  transform: scale(1.1);
  transition: all 0.5s;
}

h2, .o-que-faremos-texto{
  font-family: 'EB Garamond', serif;
}

h2{
  font-size: 30px;
  font-weight: bold;
}

.quem-somos, .services{
  margin-top: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  color: black;
  padding: 8px;
}

.maressa-quem-somos{
  margin-top: auto;
  font-family: 'EB Garamond', serif;
  font-size: 50px;
}

.services{
  border-top: 1px solid rgb(100, 32, 32);
}

.div-aposentadoria-beneficios{
  display: flex;
  padding: 12px;
}

.aposentadoria-list, .beneficios-list{
  text-align: center;
  justify-content: center;
  justify-items: center;
  margin-top: 2px;
}

.aposentadoria-title, .beneficios-title{
  margin-top: 3px;
  margin-bottom: 3px;
}

.aposentadoria, .beneficios{
  border: 1px solid rgb(100, 32, 32);
  width: 350px;
  height: 500px;
  padding: 20px;
}

.aposentadoria-li, .beneficios-li{
  padding: 5px;
  font-size: 18px;
}

.imagem-aposentadoria, .imagem-beneficios{
  width: 100px;
  padding-bottom: 30px;
}

.fa-arrow-down{
  font-size: 50px;
  color: rgb(100, 32, 32);
  margin-top: auto;
}

.container{
  width: auto;
}

.container-consultoria-planejamento, .container-beneficios-revisao{
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

.container-beneficios-revisao{
  margin-top: 11px;
}

.consultoria-previdenciaria{
  background: url('./imagem-1.png');
  background-position: center center;
  background-size:cover;
  width: 450px;
  color:white;
}

.planejamento-previdenciario{
  background: url('./imagem-2.jpeg');
  background-position: center center;
  background-size:cover;
  color:white;
  width: 450px;
  margin:auto;
}

.revisao-beneficios{
  background: url('./imagem-3.jpeg');
  background-position: center center;
  background-size:cover;
  color:white;
  width: 450px;
}

.revisao-vida-toda{
  background: url('./imagem-5.jpeg');
  background-position: center center;
  background-size:cover;
  color:white;
  width: 450px;
  margin:auto;
}

.mandado-de-seguranca{
  background: url('./imagem-4.jpeg');
  background-position: center center;
  background-size: cover; 
  background-repeat: no-repeat;
  color:white; 
  padding: 15px;
  margin-top: 12px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.services-title{
  margin-bottom: 8px;
}

.subtexto-services{
  color: rgb(129, 118, 118);
  font-size: large;
}

h1{
  color: white;
  font-size: 40px;
  font-weight: 200;
  line-height: 1.2em;
  text-align: center;
}

h1, footer, .name, .title-heading6, .aposentadoria-title, .beneficios-title, .services-title, .quem-somos-text{
  font-family: 'EB Garamond', serif;
}

.quem-somos-title, .aposentadoria-title, .beneficios-title, .services-title{
  font-family: 'EB Garamond', serif;
  font-size: 40px;
  font-weight: lighter;
  color: rgb(100, 32, 32);
}

.contato-title{
  color: white;
  font-family: 'EB Garamond', serif;
  font-size: 40px;
  font-weight: lighter;
}

.quem-somos-text{
  font-size: 30px;
  line-height: 4rem;
}

.button-up{
  margin-left: 1300px;
  position: fixed;
  bottom: 10px;
}

.fa-arrow-up{
  font-size: 50px;
  color: rgba(5, 5, 5, 0.904);
}

.nav-footer{
  display: inline-block;
  text-align: center;
}

.ul-footer{
  background-color: rgb(100, 32, 32);
  justify-content: center;
}

.o-que-faremos-texto{
  font-size: 30px;
  margin-top: auto;
  color:rgb(100, 32, 32);
}

.button-container, 
.button-container-consulta, 
.button-container-planejamento,
.button-container-sobre-revisao,
.button-container-revisao-vida-toda,
.button-container-processo{
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.whatsapp-button-consulta, 
.whatsapp-button-sobre-revisao,
.whatsapp-button-processo{
  background: rgb(58, 214, 58);
  border-radius: 25px;
  height: 50px;
  width: 300px;
  border: none;
  cursor: pointer;
}

.whatsapp-button-planejamento{
  background: rgb(58, 214, 58);
  border-radius: 25px;
  height: 50px;
  width: 400px;
  border: none;
}

.whatsapp-button-revisao-vida-toda{
  background: rgb(58, 214, 58);
  border-radius: 25px;
  height: 50px;
  width: 380px;
  border: none;
}

.whatsapp-button{
  background: rgb(58, 214, 58);
  border-radius: 25px;
  height: 50px;
  width: 250px;
  border: none;
  margin-left: 350px;
}

.wabuttontext{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
}

.wabuttontext-revisao{
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
}

.icon-button-wa{
  color: white;
}

.logo{
  width: 120px;
  margin-left: 148px;
  margin-right: 20px;
}

.logo-footer{
  width: 350px;
}

.name{
  font-size: 50px;
  color: white;
  text-align: center;
}

.title-heading6{
  text-align: center;
  font-size: 30px;
  color:white;
}

.text-heading1{
  width: 100%;
  text-align: center;
  justify-items: center;
}

.phone{
  margin-left: 225px;
}

.phone-link, .email-link{
  color:white;
}