body{
  margin: 0;
  display: grid;
  grid-template-areas:
    "header"
    "ul"
    "main"
    "footer";
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  grid-template-rows: 24px 100px 1fr 300px;
  background: url('./casal-idosos.jpg');
  background-size:cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

html{
  scroll-behavior: smooth;
}

header{
  grid-area: header;
  background-color: rgb(100, 32, 32);
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 2rem;
  color: white;
  height: 40px;
}

ul{
  grid-area: ul;
  background-color: white;
  display: flex;
  gap: 4rem;
}

li {
  padding-top: 35px;
  list-style-type: none;
  align-items: center;
  gap: .8rem;
}

a{
  text-decoration: none;
  padding: 0;
  color:rgb(100, 32, 32);
  font-family: "Nanum Gothic", Sans-serif;
  font-size: 14px;
  font-weight: 600;
}

a:hover{
  color:rgb(192, 90, 90);
}

main{
  grid-area: main;
  margin: 0 200px;
}

footer{
  grid-area: footer;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(100, 32, 32);
  color: white;
}

.quem-somos, .services{
  margin-top: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  color: black;
  padding: 8px;
}

.maressa-quem-somos{
  margin-top: auto;
  font-family: 'EB Garamond', serif;
  font-size: 50px;
}

.services{
  border-top: 1px solid rgb(100, 32, 32);
}

.div-aposentadoria-beneficios{
  display: flex;
}

.aposentadoria-list, .beneficios-list{
  text-align: center;
  justify-content: center;
  justify-items: center;
  line-height: none;
  margin-top: 2px;
}

.aposentadoria-title, .beneficios-title{
  margin-top: 3px;
  margin-bottom: 3px;
}

.aposentadoria, .beneficios{
  border: 1px solid rgb(100, 32, 32);
  width: 350px;
  height: 520px;
  padding: 20px;
}

.services-title{
  margin-bottom: 8px;
}

.subtexto-services{
  color: rgb(129, 118, 118);
  font-size: medium;
}

h1{
  color: white;
  font-size: 40px;
  font-weight: 200;
  line-height: 1.2em;
  text-align: center;
}

h1, footer, .name, .title-heading6, .aposentadoria-title, .beneficios-title, .services-title, .quem-somos-text{
  font-family: 'EB Garamond', serif;
}

.quem-somos-title, .aposentadoria-title, .beneficios-title, .services-title, .contato-title{
  font-family: 'EB Garamond', serif;
  font-size: 40px;
  font-weight: lighter;
}

.quem-somos-text{
  font-size: 30px;
}

.button-up{
  margin-left: 1300px;
  position: fixed;
  bottom: 10px;
}

.fa-arrow-up{
  font-size: 50px;
  color: rgba(5, 5, 5, 0.534);
}

.nav-footer{
  display: inline-block;
  text-align: center;
}

.ul-footer{
  background-color: rgb(100, 32, 32);
  justify-content: center;
}

.button-container{
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.whatsapp-button{
  background: rgb(58, 214, 58);
  border-radius: 25px;
  height: 50px;
  width: 250px;
  border: none;
  margin-left: 350px;
}

.wabuttontext{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
}

.icon-button-wa{
  color: white;
}

.logo{
  width: 120px;
  margin-left: 148px;
  margin-right: 20px;
}

.logo-footer{
  width: 350px;
}

.name{
  font-size: 50px;
  color: white;
  text-align: center;
  line-height: 0;
}

.title-heading6{
  text-align: center;
  font-size: 30px;
  color:white;
}

.text-heading1{
  width: 100%;
  text-align: center;
  justify-items: center;
}

.phone{
  margin-left: 225px;
}

.phone-link, .email-link{
  color:white;
}